
          
 <div >
    <div class="col s12 m7 ">
      <div class="card outstanding">
        <div class="card-image">
          {{#if photo}}
          <img src="/images/{{photo.filename}}" >
          <span class="card-title"><div class="link-new"><a href="/art/{{id}}"><h2>{{title}}</h2></a></div></span>
          {{else}}
          <span class="card-title"><a href="/art/{{id}}"><h2>{{title}}</h2></a></span>
          {{/if}}


        </div>
        
      </div>
    </div>
  </div>
       