<div>
{{#if article.photo}}
 
<div>
<img width="1200px" height="700px" src="/images/{{article.photo.[0].filename}}"/>
</div>
{{/if}}
<div class="horizontal-blue"></div>
<p class="article-time" >{{time}}</p>
<p class="article-category">{{category.name}}</p>
<i class="fab fa-facebook-square fa-2x icon"></i>&nbsp;
    <i class="fab fa-twitter-square fa-2x icon"></i>
<div class="horizontal-blue"></div>
<p class="body-text">
    {{#if article.photo.[1]}}
 
         <img class="second-image"  hspace="5" vspace="5" src="/images/{{article.photo.[1].filename}}" style="shape-outside:url(/images/{{article.photo.[1].filename}}"/>
    {{/if}}

    {{#if article.photo.[2]}}
 
         <img class="third-image" hspace="5" vspace="5" src="/images/{{article.photo.[2].filename}}" style="shape-outside:url(/images/{{article.photo.[2].filename}}"/>
    {{/if}}
    
    {{article.main_text}}</p>
<p class="article-author">{{author.username}}</p>
<br>
<div class="horizontal-blue"></div>

</div>
