<div class="column-style"></div>
  <div class="author-box">
      <div>
              <img class="image-columnist" src="/images/{{author.avatar.[0].filename}}">
               <p class="author-naming">por {{author.name}}</p>

      </div>
    <h3>&#8220{{column.title}}&#8221</h3>
    <i class="fab fa-facebook-square fa-2x icon"></i>&nbsp;
    <i class="fab fa-twitter-square fa-2x icon"></i>
  </div>
 <span class="horizontal-blue"></span>
<h4 >&#8220{{column.highlights}}&#8221</h4>
<p class="opinion-column">{{column.main_text}}

</div> 
</p>
<br>
 <p class="author-naming">En Elda a {{column.upload_at}}</p>
 <span class="horizontal-blue"></span>

</div>