 {{>header}}
<div class="search-container">
 <div class="input-field col s12 pinput">
        <select class="category-select" name="category">
            <option value="" disabled selected>Categorías</option>
            {{#each categories}}
            <option value={{code}}>{{name}}</option>
            {{/each}}
            <option value="" disabled>Columnas</option>
             {{#each authors}}
            <option value={{_id}}>{{name}}</option>
            {{/each}}


        </select>
    </div>
  <input class="search" type="text"></input>

   <p class="h99">{{timer}}</p>
</div>
     {{#if user}}
     {{> author_bar }}
     {{/if}}
        
          
          
<div class="page" onclick="next(event)" >

  <script>
   function next(e) {
   let call = $.ajax({
      method: 'GET',
      url:"/next"
    });
   let child = document.createDocumentFragment(call.responseText);
   document.querySelector('.page').appendChild(child);
  

   }
  </script>

  
  
          <div class="section col s12 l12">
           {{#each articles}}

              {{#if outstanding}}
               {{> outstand this}}
              {{else}}
               {{> new this}}
             {{/if}}
        </div>

{{/each}}
{{#each columns}}
<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img class="columnist" src="/images/{{picture.filename}}" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <a href="/col/{{id}}">
          <h5>{{title}}</h5>
          <p>{{highlights}}</p>
          </a>
        </div>
       
      </div>
    </div>
  </div>

{{/each}}
</div>

